* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: #000000; 
  background: -webkit-linear-gradient(
    to right,
    #000000,
    #000000
  ); 
  background: linear-gradient(
    to right,
    #000000,
    #000000
  ); 
}

.container{
    width: 600px;
    position: relative;
    margin: auto;
    background: white;
    padding: 40px;
    border-radius: 30px; /* forma del borde */
    display: flex;
    align-items: flex-end; /*colocar una foto de imagen"first baseline" */
    gap: 50px;
    
}
.logo_img{
    width: 250px;

}



.form{

    padding: 10px;
    background: rgb(0, 0, 0);
    padding: 15px 20px;
    color: red;
    border: no;
    cursor: pointer;
    border-radius: 30px; 
  
    
}


.boton{
    background: rgb(255, 255, 255);
    padding: 15px 20px;
    color: red;
    border: no;
    cursor: pointer;
    border-radius: 30px; 
  
}

.boton1{
  background: rgb(255, 255, 255);
  padding: 15px 20px;
  color: red;
  border: no;
  cursor: pointer;
  border-radius: 30px; 

}

h1{
    text-align: center;
    padding: 10px;
    color: rgb(248, 0, 0);
}

.form__boton{
    display: flex;
    padding: 15px;
    justify-content: center;
    
}


.form__boton1{
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}

.boton:hover{
    background: rgb(255, 255, 255);
    padding: 10px;
}

.boton1:hover{
  background: rgb(255, 255, 255);

}





h2,h3.h4,h5,h6{

  padding: 1px ;
 font-size:  0.5rem;
 color: antiquewhite;
 text-align:center;
 }

 .footer {
  background-color: black;
  -webkit-padding-before: 50px;
          padding-block-start: 50px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-padding-after: 50px;
          padding-block-end: 50px;
}
.footer__container {
  width: 70%;
}
.footer__container p {
  color: white;
  font-size: 15px;
  text-align: center;
}
.footer__container ul {
  list-style: none;
}
.footer__container ul li {
  font-size: 15px;
  color: white;
  text-align: center;
}
